In [1]:
#ESTRUTURAS DE DADOS

In [3]:
#Vetor
vec = 3
is.vector(vec) #retorna TRUE

[1] TRUE

In [5]:
#PARA ADICIONA"R DIVERSOS ELEMENTOS EM 1 VETOR, USE C()
vec = c(1,2,3,"texto")
class(vec) #retorna character pois todos elementos são do mesmo tipo

[1] "character"

In [9]:
#LISTAS (TIPOS DIFERENTES)
x = c("texto1","texto2")
y = c(1,2,3)
z = c(T,F,T)
lista = c(x,y,z)
lista

[1] "texto1" "texto2" "1"      "2"      "3"      "TRUE"   "FALSE"  "TRUE"

In [12]:
#MATRIZ (ELEMENTOS DE MESMO TIPO)
#Uma linha e uma coluna
mat = matrix(c(1,2), nrow=1, ncol=2, byrow=TRUE)
mat

     [,1] [,2]
[1,] 1    2

In [13]:
#DATAFRAME (ARMAZENAR DADOS EM FORMA DE TABELA)
x = data.frame(nome = c("Ana", "Weber", "Aquiles"),
              idade = c(24L,27L,2L),
              salario = c(12000, 0, 0))
nrow(x) #número de linhas dataframe
ncol(x) #número de colunas dataframe
dim(x) #número de linhas e colunas

[1] 3

[1] 3

[1] 3 3

In [15]:
print(x)

     nome idade salario
1     Ana    24   12000
2   Weber    27       0
3 Aquiles     2       0