In [1]:
#TIDYR

In [2]:
#Funções principais: gather() e spread()

In [3]:
library(tibble)
library(tidyr)
df <- tibble(w = 1, x = 2, y = 3)
z = gather(df, "variavel", "valor")

Warning message:
"package 'tibble' was built under R version 3.6.3"Warning message:
"package 'tidyr' was built under R version 3.6.3"

In [4]:
df

  w x y
1 1 2 3

In [6]:
z

  variavel valor
1 w        1
2 x        2
3 y        3

In [8]:
z2 = spread(z, "variavel", "valor")
z2

  w x y
1 1 2 3